@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Lato', sans-serif; font-size: 14px;
}

.bg-purple {background: #0425a7 !important;}

@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}

.headerWrapper .top-strip {
  height: 50px; /* adjust as needed */
  display: flex; /* centers text vertically */
  align-items: center; /* vertically centers text */
  background: #2a63ff;
}
.headerWrapper .top-strip {padding: 8px 0px;position: relative;}
.headerWrapper .top-strip p {color: #fff; font-size: 12px; font-weight: 500;}
 
.headerWrapper .header { width: 100%; height: auto ; padding:10px 0px; }
  
.logoWrapper img { width: 250px; margin-left: -150px; } 

.headerWrapper .header .part2 .countryDrop{width:170px; height:60px; min-width: 170px; color:
  black !important; border: 1px solid rgba(0, 0, 0, 0.2) !important; border-radius: 7px !important; padding: 10px 15px !important; }
.headerWrapper .header .part2 .countryDrop{text-align:left; justify-content: flex-start; }
.headerWrapper .header .part2 .countryDrop .label{font-size: 12px !important; text-transform:
   capitalize !important; color:rgba(0, 0, 0, 0.4) !important; line-height: 16px;}
.headerWrapper .header .part2 .countryDrop .name{font-size: 14px !important; text-transform:
   capitalize !important; color:rgba(5, 99, 181, 0.6) !important; font-weight: 700; line-height: 20px;}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg{opacity: 0.7;}
.headerSearch {width: 60%; height: 60px; background: #f3f4f7; padding: 10px; position: relative; border-radius: 30px; border: 1px solid rgba(0, 0, 0, 0.1) !important;}
.headerSearch input { background: transparent !important; outline: none!important; 
font-size: 18px; color: rgba(0, 0, 0, 0.8); width: 100%; height: 95%; border: none ; padding: 0px 20px !important;} 



.headerSearch input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.6); }

.headerSearch button { position: absolute; right: 15px; top: 10px; z-index: 100; min-width: 40px !important;
   height:40px !important; width: 40px !important;border-radius: 50px !important; color: #000;  }
.headerSearch button svg { font-size: 40px !important; color:#939393}
  
  
   header .part3 .circle { min-width: 45px !important; height: 45px !important; width: 45px !important; border-radius: 50% !important; 
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1) !important; align-items: center; justify-content: center;}
    header .part3 .circle svg { font-size: 16px !important;  }
    .cartTab .price {font-size: 14px; color: rgba(0, 0, 0, 0.8); font-weight: 700;}
    .cartTab button { background: #fff1ee !important; }
    .cartTab button svg {  color: #ea2b0f !important; font-size: 27px; }
    .cartTab .count { position: absolute; top: -4px; right: -2px; background: #ea2b0f; color: #fff; width: 17px; height: 17px; 
      border-radius: 50%; font-size: 10px; display: flex; align-items: center; justify-content: center;} 

    .locationModal .MuiPaper-elevation{ padding: 25px}




      nav .navPart1 {  max-width: 20% ; flex: 0 0 20%; }
      nav .navPart2 {  max-width: 80% ; flex: 0 0 80%; }

      nav .allCatTab{background: #2bbef9; padding: 10px 15px !important; border-radius: 30px; }
      nav .allCatTab * {color: #fff; }   
      nav .allCatTab:hover { background: #2bbef9; }
      nav .allCatTab .text { font-weight: 600; font-size: 14px;}   
      nav .allCatTab .icon1 svg { font-size: 20px !important; }                              
      nav .allCatTab .icon2 svg { font-size: 12px !important; }

      nav .navPart2 ul{ margin-bottom: 0px;  }
      nav .navPart2 ul li a{ font-size: 16px; font-weight: 600; text-decoration: none; 
        color: rgba(0, 0, 0, 0.6); text-transform: uppercase ; display: flex; align-items: center; padding: 10px 13px; transition: all 0.2s ease-in-out; border-radius: 20px; }
        nav .navPart2 ul li a svg { font-size: 20px; }
        nav .navPart2 ul li a:hover { color: #2bbef9; background: #f0faff; }
